body {
    background-color: #fafad2;
    font-family: 'Times New Roman', Times, serif;
}

img {
    border-style: double;
    border-width: 10px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

div {
    text-align: center;
}

a {
    color: darkblue;
    font-weight: bold;
    font-size: large;
}

ul {
    text-align: center;
    list-style-type: none;
}
